<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Room</title>
</head>
<body>
    <h1>New rooms</h1>
<form th:method="POST" th:action="@{/rooms}" th:object="${room}">
<table>
    <tr>
        <td>
            <label for="name">Enter name: </label>
        </td>
        <td>
            <input type="text" th:field="*{name}" id="name"/>
        </td>
    </tr>
    <tr>
        <td>
            <label for="size">Enter size: </label>
        </td>
        <td>
             <input type="text" th:field="*{size}" id="size"/>
        </td>
    </tr>
    <tr>
        <td>
            <label for="rentalPrice">Enter rental price: </label>
        </td>
        <td>
            <input type="text" th:field="*{rentalPrice}" id="rentalPrice"/>
        </td>
    </tr>
</table>
<input type="submit" value="Create!"/>
</form>


</body>
</html>